img {
    position: absolute;
    bottom: 0%;
    right: 30%;
    width: 737px;
    height: 700px;
}

body {
    background-image: url(image/bg_306.gif);
}

div {
    background-color: rgb(179, 96, 130);
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
  }